*{
    margin: 0;
    box-sizing: border-box;
}
input{
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 20px;
    display: flex;
    align-items: center;
}

#regForm1{
    display: flex;
    justify-content: center;
    /* background-color: blue; */
}

button{
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 20px;
    margin-top: 20px;
}
h1{
    display: flex;
    justify-content: center;  
}

.error{
    color: red;
}

td,th {
    border: 3px solid   ;
}

table{
     border: 3px solid;
}

#student_table{
display: none;
flex-direction: column;
align-items: center;
}